<div class="wrapper">
  <p style="color: green"><%= notice %></p>
  <h1>投稿一覧</h1>

  <table>
    <table-head>
      <tr>
        <th>投稿者</th>
        <th>コメント</th>
        <th>画像</th>
      </tr>
    </table-head>

    <table-body>
      <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.user.name %></td>
        <td><%= feed.content %></td>
        <td><%= image_tag feed.image_url if feed.image.present? %></td>

        <% if feed.user == current_user %>
          <td><%= link_to '編集', edit_feed_path(feed) %></td>
          <td><%= link_to '削除', feed, method: :delete, data: { confirm: 'Are you okay?' } %></td>
        <% end %>
      </tr>
      <% end %>
    </table-body>
  </table>

<%= link_to "新規投稿ページへ", new_feed_path %>
